<?xml version="1.0" encoding="utf-8" ?>
<!--This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

'   Copyright Duncan Grieve, July 2008

-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mpcstats.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <mpcstats.My.MySettings>
            <setting name="url" serializeAs="String">
                <value>http://localhost:13579/status.html</value>
            </setting>
            <setting name="file_types" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3g2</string>
                        <string>3gp</string>
                        <string>3gp2</string>
                        <string>3gpp</string>
                        <string>aac</string>
                        <string>aif</string>
                        <string>aifc</string>
                        <string>aiff</string>
                        <string>amr</string>
                        <string>amv</string>
                        <string>asf</string>
                        <string>asx</string>
                        <string>au</string>
                        <string>avi</string>
                        <string>bik</string>
                        <string>bmp</string>
                        <string>cda</string>
                        <string>d2v</string>
                        <string>dat</string>
                        <string>dib</string>
                        <string>divx</string>
                        <string>drc</string>
                        <string>dsa</string>
                        <string>dsm</string>
                        <string>dss</string>
                        <string>dsv</string>
                        <string>dvda</string>
                        <string>dvdf</string>
                        <string>evo</string>
                        <string>flc</string>
                        <string>fli</string>
                        <string>flic</string>
                        <string>flv</string>
                        <string>gif</string>
                        <string>hdmov</string>
                        <string>ivf</string>
                        <string>jpeg</string>
                        <string>jpg</string>
                        <string>m1a</string>
                        <string>m1v</string>
                        <string>m2a</string>
                        <string>m2ts</string>
                        <string>m2v</string>
                        <string>m3u</string>
                        <string>m4a</string>
                        <string>m4b</string>
                        <string>m4v</string>
                        <string>mid</string>
                        <string>midi</string>
                        <string>mka</string>
                        <string>mkv</string>
                        <string>mov</string>
                        <string>mp2</string>
                        <string>mp2v</string>
                        <string>mp3</string>
                        <string>mp4</string>
                        <string>mpa</string>
                        <string>mpc</string>
                        <string>mpcpl</string>
                        <string>mpe</string>
                        <string>mpeg</string>
                        <string>mpg</string>
                        <string>mpv2</string>
                        <string>ogg</string>
                        <string>ogm</string>
                        <string>pic</string>
                        <string>pls</string>
                        <string>png</string>
                        <string>pss</string>
                        <string>pva</string>
                        <string>qt</string>
                        <string>ra</string>
                        <string>ram</string>
                        <string>ratdvd</string>
                        <string>rm</string>
                        <string>rmi</string>
                        <string>rmm</string>
                        <string>rmvb</string>
                        <string>rnx</string>
                        <string>roq</string>
                        <string>rp</string>
                        <string>rpm</string>
                        <string>rt</string>
                        <string>smi</string>
                        <string>smil</string>
                        <string>smk</string>
                        <string>snd</string>
                        <string>swf</string>
                        <string>tif</string>
                        <string>tiff</string>
                        <string>tp</string>
                        <string>tpr</string>
                        <string>ts</string>
                        <string>vp6</string>
                        <string>wav</string>
                        <string>wax</string>
                        <string>wm</string>
                        <string>wma</string>
                        <string>wmp</string>
                        <string>wmv</string>
                        <string>wmx</string>
                        <string>wvx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cruft" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>pdtv</string>
                        <string>vtv</string>
                        <string>eztv</string>
                        <string>ws</string>
                        <string>hdtv</string>
                        <string>preair</string>
                        <string>ts</string>
                        <string>tvrip</string>
                        <string>dsrip</string>
                        <string>hr</string>
                        <string>lol</string>
                        <string>loki</string>
                        <string>tcm</string>
                        <string>xor</string>
                        <string>fqm</string>
                        <string>umd</string>
                        <string>tbs</string>
                        <string>ctu</string>
                        <string>divx</string>
                        <string>ac3</string>
                        <string>repack</string>
                        <string>proper</string>
                        <string>vcd</string>
                        <string>svcd</string>
                        <string>tc</string>
                        <string>dvdscr</string>
                        <string>r5</string>
                        <string>dvdrip</string>
                        <string>wp</string>
                        <string>fs</string>
                        <string>sdtv</string>
                        <string>dvb</string>
                        <string>ppv</string>
                        <string>h</string>
                        <string>h720p</string>
                        <string>h480p</string>
                        <string>h1080p</string>
                        <string>h</string>
                        <string>264</string>
                        <string>h264</string>
                    </ArrayOfString>
                </value>
            </setting>
        </mpcstats.My.MySettings>
    </userSettings>
</configuration>
